.ingredient {
  width: 272px;
  height: 208px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;

}

.price {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  
}

.name {
  text-align: center;
  
}

.box_highlight {
  width: 268px;
  height: 204px;
  border: 2px solid #505050;

}

.link {
  text-decoration: none;
  color: #fff;
  
}